<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About page</title>
</head>
<body>
    <h1>About page</h1>

    <table border="2">
      <tr>
        <th>id</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>registert date</th>
      </tr>
      <tr>
        <td><%- data.id %></td>
        <td><%- data.firstname %></td>
        <td><%- data.lastname %></td>
        <td><%- data.email %></td>
        <td><%- data.reg_date %></td>
      </tr>
    </table>

    <a href="/">goto index</a>
</body>
</html>